<html>

<body style="min-height: 1000px">
  <h2 class="h2-home" style="padding-bottom: 20px">Registry</h2>

  <div class="p-story">
    We know it’s not traditional, it’s not the way it’s done, but instead of a registry - we’d like a bit of fun. We’ve lived
    together quite a while, and all the bills are paid. We’ve got our pots and pans, our plans have all been made. So if
    you’d like to give a gift to help us celebrate, something towards our “honey fund” is what we’d appreciate!
  </div>

</body>

</html>
