<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fffdd0">
  <div class="container-fluid">
    <div class="navbar-header">
      <button (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color: #DE5D83; font-size: 30px">Dustin and Nikkie</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar" [ngbCollapse]="!isCollapsed">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a routerLink="/home" style="color: #DE5D83">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/travel" style="color: #DE5D83">Travel</a>
        </li>
        <li class="nav-item">
          <a routerLink="/registry" style="color: #DE5D83">Registry</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
