<html>

<body style="min-height: 1250px">
  <h2 class="h2-home" style="padding-bottom: 20px">Travel</h2>

  <div class="p-larger">
    Wedding and reception will be held at:
  </div>

  <div class="p-story">
    The Confluence Resort
    <br>at 825 Patterson Ferry Rd.
    <br>Hico, WV 25854
    <br>at 5:30 pm.
    <br>Reception To Follow
  </div>

  <div class="p-larger">
    For those who need lodging, we suggest:
  </div>

  <div class="p-story">
    The Quality Inn - New River Gorge
    <br>at 103 Elliots Way
    <br>Fayetteville, WV 25840
    <br>304-574-3443
  </div>

  <div class="p-larger">
    Or:
  </div>

  <div class="p-story">
    Holiday Lodge - Oak Hill
    <br>at 340 Oyler Ave
    <br>Oak Hill, WV 25901
    <br>304-465-0571
  </div>

</body>

</html>
