<html>

<body style="min-height: 1500px;">

  <h1 class="h1-home">
    Dustin and Nikkie
  </h1>
  <h2 class="h2-home" style="padding-bottom: 20px">
    September 18, 2019
  </h2>

  <div class="p-story">
    Dustin and Nikkie met in the summer of 2012 when they started working together as security guards at a car auction. As interested
    as they were, they did not officially start dating until November of 2013 and then really got serious in January of 2016.
    They spend most of their time playing games, renovating their house, and traveling. On May 18th, while on vacation in
    Gulf Shores, AL, Dustin asked Nikkie to marry him at sunrise. To nobody’s surprise she of course said yes. On September
    18th of 2019, they will be married and could not be more excited.
  </div>

  <iframe style="display: block; margin: auto; padding-top: 20px" src="https://free.timeanddate.com/countdown/i6cn5lxg/n179/cf105/cm0/cu4/ct0/cs1/ca0/co1/cr0/ss0/cac003307/cpc003307/pcfffdd0/tcf99/fs100/szw320/szh135/tatThe%20I%20Do's!/tac003307/tptThe%20I%20Do's!/tpc003307/iso2019-09-18T00:00:00"
    allowTransparency="true" frameborder="0" width="320" height="135"></iframe>



</body>

</html>
